<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/_logs/nlog-internal-AspNetCore.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Targets.Seq"/>
  </extensions>

  <!-- the targets to write to -->
  <targets async="true">
    <target name="logfile" xsi:type="File"
            fileName="${basedir}/_logs/log.txt"
            archiveAboveSize="1000000"
            maxArchiveFiles="5"
            maxArchiveDays="3"
            archiveEvery="Day"
            archiveOldFileOnStartup="true"
            deleteOldFileOnStartup="true"
            archiveNumbering="DateAndSequence"
            enableArchiveFileCompression="true" />
    <target name="logconsole" xsi:type="ColoredConsole"
            encoding="UTF-8"
            layout="[ ${longdate} ${level:uppercase=true} ] ${logger}: ${message}"
            header="${machinename}"
            footer="${machinename}"
            useDefaultRowHighlightingRules="true"
            errorStream="false"
            enableAnsiOutput="true"
            detectConsoleAvailable="true"
            detectOutputRedirected="true"></target>
    <target xsi:type="Debugger" name="debugger" layout="== NLOG: ${logger}::${message}">     
    </target>
    <!-- <target name="debugger2" xsi:type="OutputDebugString" layout="(!2!) ${logger}::${message}" />
    <target name="debugger3" xsi:type="DebugSystem" layout="(!3!) ${logger}::${message}" /> -->
    <target name="seq"
            xsi:type="BufferingWrapper"
            bufferSize="1000"
            flushTimeout="5000"
            slidingTimeout="false">      
      <target xsi:type="Seq" serverUrl="http://100.77.246.15:5341" apiKey="qwC5tKnanm1DIxZ712Ay" >
        <property name="MachineName" value="${machinename}" />
        <property name="Source" value="${logger}" />
        <property name="Project" value="WindowsServerDNSUpdate" />
      </target>      
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Info" writeTo="logfile" />

    <!--Output hosting lifetime messages to console target for faster startup detection -->
    <!--<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, ownFile-web" final="true" />-->

    <!--Skip non-critical Microsoft logs and so log only own logs (BlackHole) -->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />

    <!--<logger name="System.Net.Http.*" maxlevel="Info" final="true" />-->

    <!--<logger name="*" minlevel="Info" writeTo="ownFile-web" />-->

    <logger name="*" minlevel="Debug" writeTo="seq" />
    
    <logger name="*" minlevel="Info" writeTo="logconsole" />  
    
    <logger name="*" minlevel="Debug" writeTo="debugger" />
  </rules>
  
</nlog>