@page
@model WindowsServerDnsUpdater.Pages.AboutModel
@{
    ViewData["Title"] = "Что делает это приложение?";
}
@{
}
 
<h1>@ViewData["Title"]</h1>
<div class="markdown-content">
    @Html.Raw(Model.MarkdownHtml)
</div>

